
    <h1>Interests</h1>


<div class = 'containter'>

<div class = "images">
<table>
<tr>
<td>Whiskey</td>
<td><%= image_tag(src="whiskey.jpg", class: "image")%></td>
</tr>
<tr>
<td>GAA</td>
<td><%= image_tag(src="mayo_gaa.jpg", class: "image") %></td>
<tr>
<td>Massage</td>
<td><%= image_tag(src="massage.jpg", class: "images") %></td>
</table>
</div>


</div>